body {
  color: white;
}

.container {
  position: relative;
}

img {
  transform: translate(-5%, -19%);
  width: 110%;
  opacity: 0.8;
  position: fixed;
  z-index: -1;
}

.heading {
  position: relative;
  font-size: 350%;
  text-align: center;
}

.pageinfo {
  position: relative;
  text-align: center;
  font-size: 200%;
}
